/************************************/
.menuEstados{
    background-color: #069e91;
    border-radius: 5px;
    align-self: flex-start;
}

#btn-menu{
    display: none;
}

#btn-menu:checked ~ .menu{
    display: block;
}

.menuEstados .label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 2px;
}

.menu{
    border-radius: 5px;
    background-color: #069e91;
    position: absolute;
    display: none;
    transition: all .3s ease .3s;
}

.hamburguesa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20;
    transition: .5s ease .0s;
}
.hamburguesa:hover{
    transform: scale(1.05);
    cursor: pointer;
    background: #434343;
}

.hamburguesa div{
    width: 13px;
    height: 3px;
    background-color: black;
    margin: 1px;
    border-radius: 3px;
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

.menu label{
    font-size: 12px;
    margin-left: 5px;
    margin-right: 2px;
    transition: .3s ease ,2s;
}
.menu label:hover{
    cursor: pointer;
}

.menu .estadosRadio{
    margin: 0;
    transform: scale(.5);
}

.menu .estadosRadio:hover {
    cursor: pointer;
}

.menu li{
    border-top: 1px solid #fff;
    transition: .2s ease .1s;
    padding: 0;
    border-radius: 5px;
}
.menu li:hover{
    background: rgba(0, 0, 0, .3);
    transform: scale(1.02);
}
/***********************************************************/
/************************************************************/
#btn-menuE2{
    display: none;
}

#btn-menuE2:checked ~ .menuE2{
    display: block;
}
/*************************************************************/
/************************************************************/
#btn-menuE3{
    display: none;
}

#btn-menuE3:checked ~ .menuE3{
    display: block;
}
/*************************************************************/

/************************************************************/
#btn-menuE4{
    display: none;
}

#btn-menuE4:checked ~ .menuE4{
    display: block;
}
/*************************************************************/

/************************************************************/
#btn-menuE5{
    display: none;
}

#btn-menuE5:checked ~ .menuE5{
    display: block;
}
/*************************************************************/

/************************************************************/
#btn-menu2{
    display: none;
}

#btn-menu2:checked ~ .menu2{
    display: block;
}
/*************************************************************/

/************************************************************/
#btn-menu3{
    display: none;
}

#btn-menu3:checked ~ .menu3{
    display: block;
}
/*************************************************************/

/************************************************************/
#btn-menu4{
    display: none;
}

#btn-menu4:checked ~ .menu4{
    display: block;
}
/*************************************************************/

/************************************************************/
#btn-menu5{
    display: none;
}

#btn-menu5:checked ~ .menu5{
    display: block;
}
/*************************************************************/

/************************************************************/
#btn-menu6{
    display: none;
}

#btn-menu6:checked ~ .menu6{
    display: block;
}
/*************************************************************/

/************************************************************/
#btn-menu7{
    display: none;
}

#btn-menu7:checked ~ .menu7{
    display: block;
}
/*************************************************************/

/************************************************************/
#btn-menu8{
    display: none;
}
#btn-menu8:checked ~ .menu8{
    display: block;
}
/*************************************************************/

/************************************************************/
#btn-menu9{
    display: none;}
#btn-menu9:checked ~ .menu9{
    display: block;}
/*************************************************************/

/************************************************************/
#btn-menu10{
    display: none;}
#btn-menu10:checked ~ .menu10{
    display: block;}
/*************************************************************/

/************************************************************/
#btn-menu11{
    display: none;}
#btn-menu11:checked ~ .menu11{
    display: block;}
/*************************************************************/

/************************************************************/
#btn-menu12{
    display: none;}
#btn-menu12:checked ~ .menu12{
    display: block;}
/*************************************************************/

/************************************************************/
#btn-menu13{
    display: none;}
#btn-menu13:checked ~ .menu13{
    display: block;}
/*************************************************************/

/************************************************************/
#btn-menu14{
    display: none;}
#btn-menu14:checked ~ .menu14{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu15{
    display: none;}
#btn-menu15:checked ~ .menu15{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu16{
    display: none;}
#btn-menu16:checked ~ .menu16{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu17{
    display: none;}
#btn-menu17:checked ~ .menu17{
    display: block;}
/*************************************************************/

/************************************************************/
#btn-menu18{
    display: none;}
#btn-menu18:checked ~ .menu18{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu19{
    display: none;}
#btn-menu19:checked ~ .menu19{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu20{
    display: none;}
#btn-menu20:checked ~ .menu20{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu21{
    display: none;}
#btn-menu21:checked ~ .menu21{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu22{
    display: none;}
#btn-menu22:checked ~ .menu22{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu23{
    display: none;}
#btn-menu23:checked ~ .menu23{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu24{
    display: none;}
#btn-menu24:checked ~ .menu24{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu25{
    display: none;}
#btn-menu25:checked ~ .menu25{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu26{
    display: none;}
#btn-menu26:checked ~ .menu26{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu27{
    display: none;}
#btn-menu27:checked ~ .menu27{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu28{
    display: none;}
#btn-menu28:checked ~ .menu28{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu29{
    display: none;}
#btn-menu29:checked ~ .menu29{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu30{
    display: none;}
#btn-menu30:checked ~ .menu30{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu31{
    display: none;}
#btn-menu31:checked ~ .menu31{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu32{
    display: none;}
#btn-menu32:checked ~ .menu32{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu33{
    display: none;}
#btn-menu33:checked ~ .menu33{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu34{
    display: none;}
#btn-menu34:checked ~ .menu34{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu35{
    display: none;}
#btn-menu35:checked ~ .menu35{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu36{
    display: none;}
#btn-menu36:checked ~ .menu36{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu37{
    display: none;}
#btn-menu37:checked ~ .menu37{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu38{
    display: none;}
#btn-menu38:checked ~ .menu38{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu39{
    display: none;}
#btn-menu39:checked ~ .menu39{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu40{
    display: none;}
#btn-menu40:checked ~ .menu40{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu41{
    display: none;}
#btn-menu41:checked ~ .menu41{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu42{
    display: none;}
#btn-menu42:checked ~ .menu42{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu43{
    display: none;}
#btn-menu43:checked ~ .menu43{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu44{
    display: none;}
#btn-menu44:checked ~ .menu44{
    display: block;}
/*************************************************************/
/************************************************************/
#btn-menu45{
    display: none;}
#btn-menu45:checked ~ .menu45{
    display: block;}
/*************************************************************/

@media (max-width: 750px) {
    .menuEstados{
        margin: 0 2px;
        align-self: flex-start;
    }

    .hamburguesa div{
        width: 10px;
        height: 2px;
        background-color: black;
        margin: 1px;
        border-radius: 3px;
    }
}

@media (max-width: 550px) {
    .menuEstados{
        margin: 0 2px;
        align-self: flex-start;
    }

    .hamburguesa div{
        width: 10px;
        height: 2px;
        background-color: black;
        margin: 1px;
        border-radius: 3px;
    }
}