/************************************/
.menuEstados{
    background-color: #069e91;
    border-radius: 5px;
    align-self: flex-start;
}

#btn-menu{
    display: none;
}

#btn-menu ~ .menu.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu:checked ~ .menu.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}

.menuEstados .label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 2px;
}

.menu{
    border-radius: 5px;
    background-color: #069e91;
    position: absolute;
    display: none;
    height: 60px;
    /*display: none;*/
    transition: all .3s ease .3s;
}

@keyframes show {
    0%{
        opacity: .0;
        margin-left: -50px;
    }

    20%{
        opacity: .1;
        margin-left: -40px;
    }
    40%{
        opacity: .2;
        margin-left: -30px;
    }
    60%{
        opacity: .3;
        margin-left: -20px;
    }
    80%{
        opacity: .4;
        margin-left: -10px;
    }
    100%{
        opacity: .5;
        margin-left: 0px;
    }
}

@keyframes hidden {
    100%{
        opacity: .0;
        margin-left: -50px;
    }

    80%{
        opacity: .1;
        margin-left: -40px;
    }
    60%{
        opacity: .2;
        margin-left: -30px;
    }
    40%{
        opacity: .3;
        margin-left: -20px;
    }
    20%{
        opacity: .4;
        margin-left: -10px;
    }
    0%{
        opacity: .5;
        margin-left: 0px;
    }
}

.hamburguesa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20;
    transition: .5s ease .0s;
}
.hamburguesa:hover{
    transform: scale(1.05);
    cursor: pointer;
    background: #434343;
}

.hamburguesa div{
    width: 13px;
    height: 3px;
    background-color: black;
    margin: 1px;
    border-radius: 3px;
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

.menu label{
    font-size: 12px;
    margin-left: 5px;
    margin-right: 2px;
    transition: .3s ease ,2s;
}
.menu label:hover{
    cursor: pointer;
}

.menu .estadosRadio{
    margin: 0;
    transform: scale(.5);
}

.menu .estadosRadio:hover {
    cursor: pointer;
}

.menu li{
    border-top: 1px solid #fff;
    transition: .2s ease .1s;
    padding: 0;
    border-radius: 5px;
}
.menu li:hover{
    background: rgba(0, 0, 0, .3);
    transform: scale(1.02);
}
/***********************************************************/

/************************************************************/
#btn-menuE2 ~ .menuE2.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menuE2:checked ~ .menuE2.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
#btn-menuE2{
    display: none;
}
/*************************************************************/

/************************************************************/
#btn-menuE3{
    display: none;
}

#btn-menuE3 ~ .menuE3.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menuE3:checked ~ .menuE3.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/

/************************************************************/
#btn-menuE4{
    display: none;
}

#btn-menuE4 ~ .menuE4.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menuE4:checked ~ .menuE4.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/

/************************************************************/
#btn-menuE5{
    display: none;
}

#btn-menuE5 ~ .menuE5.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menuE5:checked ~ .menuE5.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/

/************************************************************/
#btn-menu2{
    display: none;
}

#btn-menu2 ~ .menu2.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu2:checked ~ .menu2.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/

/************************************************************/
#btn-menu3{
    display: none;
}

#btn-menu3 ~ .menu3.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu3:checked ~ .menu3.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/

/************************************************************/
#btn-menu4{
    display: none;
}

#btn-menu4 ~ .menu4.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu4:checked ~ .menu4.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/

/************************************************************/
#btn-menu5{
    display: none;
}

#btn-menu5 ~ .menu5.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu5:checked ~ .menu5.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/

/************************************************************/
#btn-menu6{
    display: none;
}

#btn-menu6 ~ .menu6.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu6:checked ~ .menu6.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/

/************************************************************/
#btn-menu7{
    display: none;
}

#btn-menu7 ~ .menu7.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu7:checked ~ .menu7.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/

/************************************************************/
#btn-menu8{
    display: none;
}
#btn-menu8 ~ .menu8.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu8:checked ~ .menu8.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/

/************************************************************/
#btn-menu9{
    display: none;}
#btn-menu9 ~ .menu9.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu9:checked ~ .menu9.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/

/************************************************************/
#btn-menu10{
    display: none;}
#btn-menu10 ~ .menu10.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu10:checked ~ .menu10.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/

/************************************************************/
#btn-menu11{
    display: none;
}
#btn-menu11 ~ .menu11.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu11:checked ~ .menu11.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/

/************************************************************/
#btn-menu12{
    display: none;
}
#btn-menu12 ~ .menu12.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu12:checked ~ .menu12.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/

/************************************************************/
#btn-menu13{
    display: none;
}
#btn-menu13 ~ .menu13.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu13:checked ~ .menu13.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/

/************************************************************/
#btn-menu14{
    display: none;
}
#btn-menu14 ~ .menu14.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu14:checked ~ .menu14.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu15{
    display: none;}
#btn-menu15 ~ .menu15.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu15:checked ~ .menu15.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu16{
    display: none;}
#btn-menu16 ~ .menu16.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu16:checked ~ .menu16.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu17{
    display: none;}
#btn-menu17 ~ .menu17.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu17:checked ~ .menu17.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/

/************************************************************/
#btn-menu18{
    display: none;}
#btn-menu18 ~ .menu18.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu18:checked ~ .menu18.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu19{
    display: none;}
#btn-menu19 ~ .menu19.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu19:checked ~ .menu19.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu20{
    display: none;}
#btn-menu20 ~ .menu20.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu20:checked ~ .menu20.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu21{
    display: none;}
#btn-menu21 ~ .menu21.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu21:checked ~ .menu21.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu22{
    display: none;}
#btn-menu22 ~ .menu22.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu22:checked ~ .menu22.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu23{
    display: none;}
#btn-menu23 ~ .menu23.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu23:checked ~ .menu23.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu24{
    display: none;}
#btn-menu24 ~ .menu24.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu24:checked ~ .menu24.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu25{
    display: none;}
#btn-menu25 ~ .menu25.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu25:checked ~ .menu25.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu26{
    display: none;}
#btn-menu26 ~ .menu26.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu26:checked ~ .menu26.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu27{
    display: none;}
#btn-menu27 ~ .menu27.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu27:checked ~ .menu27.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu28{
    display: none;}
#btn-menu28 ~ .menu28.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu28:checked ~ .menu28.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu29{
    display: none;}
#btn-menu29 ~ .menu29.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu29:checked ~ .menu29.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu30{
    display: none;}
#btn-menu30 ~ .menu30.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu30:checked ~ .menu30.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu31{
    display: none;}
#btn-menu31 ~ .menu31.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu31:checked ~ .menu31.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu32{
    display: none;}
#btn-menu32 ~ .menu32.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu32:checked ~ .menu32.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu33{
    display: none;}
#btn-menu33 ~ .menu33.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu33:checked ~ .menu33.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu34{
    display: none;}
#btn-menu34 ~ .menu34.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu34:checked ~ .menu34.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu35{
    display: none;}
#btn-menu35 ~ .menu35.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu35:checked ~ .menu35.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu36{
    display: none;}
#btn-menu36 ~ .menu36.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu36:checked ~ .menu36.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu37{
    display: none;}
#btn-menu37 ~ .menu37.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu37:checked ~ .menu37.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu38{
    display: none;}
#btn-menu38 ~ .menu38.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu38:checked ~ .menu38.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu39{
    display: none;}
#btn-menu39 ~ .menu39.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu39:checked ~ .menu39.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu40{
    display: none;}
#btn-menu40 ~ .menu40.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu40:checked ~ .menu40.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu41{
    display: none;}
#btn-menu41 ~ .menu41.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu41:checked ~ .menu41.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu42{
    display: none;}
#btn-menu42 ~ .menu42.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu42:checked ~ .menu42.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu43{
    display: none;}
#btn-menu43 ~ .menu43.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu43:checked ~ .menu43.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu44{
    display: none;}
#btn-menu44 ~ .menu44.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu44:checked ~ .menu44.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/
/************************************************************/
#btn-menu45{
    display: none;}
#btn-menu45 ~ .menu45.hidden{
    display: block;
    animation: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
}

#btn-menu45:checked ~ .menu45.show{
    display: block;
    animation: show;
    animation-duration: .3s;
    animation-timing-function: linear;
}
/*************************************************************/

@media (max-width: 750px) {
    .menuEstados{
        margin: 0 2px;
        align-self: flex-start;
    }

    .hamburguesa div{
        width: 10px;
        height: 2px;
        background-color: black;
        margin: 1px;
        border-radius: 3px;
    }
}

@media (max-width: 550px) {
    .menuEstados{
        margin: 0 2px;
        align-self: flex-start;
    }

    .hamburguesa div{
        width: 10px;
        height: 2px;
        background-color: black;
        margin: 1px;
        border-radius: 3px;
    }
}