body{
    background-color: #BBD1EA;
}

*{
    box-sizing: border-box;
}

.nombre{
    text-align: center;
    margin-left: 5px;
}

.nombre p{
    margin: 5px 10px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header h1{
    text-align: center;
}

.coloresEstados{
    display: flex;
    flex-direction: row;
}

.coloresEstados .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.coloresEstados .container div{
    border-radius: 3px;
    margin-right: 3px;
    width: 10px;
    height: 10px;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.gray {
    background-color: gray;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 90%;
}

.main .semestre{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.main .semestre .title{
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.main .semestre .materia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px;
    margin: 10px;
    height: 120px;
}

.estados{
    display: flex;
    flex-direction: column;
}

.estados label{
    font-size: 10px;
}

.estados .estadosRadio{
    transform: scale(.5);
}

.estados .estadosRadio:hover {
    cursor: pointer;
}

.nombreMateriaEstado{
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    height: 80%;
}

.numMateria p{
    margin: 5px;
}
.numMateria{
    width: 100%;
    height: 20%;
    text-align: center;
    background-color: aquamarine;
    border-radius: 5px 5px 0px 0px;
}

#titleS1{
    background-color: rgb(8, 99, 177);
}
#semestre1 .numMateria{
    background-color: rgb(8, 99, 177);
}

#titleS2{
    background-color: rgb(22, 116, 114);
}
#semestre2 .numMateria{
    background-color: rgb(22, 116, 114);
}

#titleS3{
    background-color: rgb(43, 199, 199);
}
#semestre3 .numMateria{
    background-color: rgb(43, 199, 199);
}

#titleS4{
    background-color: rgb(61, 199, 156);
}
#semestre4 .numMateria{
    background-color: rgb(61, 199, 156);
}

#titleS5{
    background-color: rgb(167, 213, 40);
}
#semestre5 .numMateria{
    background-color: rgb(167, 213, 40);
}

#titleS6{
    background-color: rgb(73, 127, 25);
}
#semestre6 .numMateria{
    background-color: rgb(73, 127, 25);
}

#titleS7{
    background-color: rgb(68, 78, 20);
}
#semestre7 .numMateria{
    background-color: rgb(68, 78, 20);
}

#titleS8{
    background-color: rgb(196, 54, 59);
}
#semestre8 .numMateria{
    background-color: rgb(196, 54, 59);
}

#titleS9{
    background-color: rgb(232, 124, 40);
}
#semestre9 .numMateria{
    background-color: rgb(232, 124, 40);
}



@media (max-width: 750px) {
    .main{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        row-gap: 20px;
        column-gap: 10px;
        justify-content: center;
        padding: 0;
        margin: auto;
        width: 100%;
        align-content: center;
    }

    .main .semestre{
        height: auto;
        flex-direction: column;
        background-color: coral;
        border-radius: 10px;
    }

    .nombreMateriaEstado{
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
    }

    .menuEstados{
        margin: 0px 5px;
        align-self: flex-start;
    }

    .nombre p{
        font-size: 13px;
    }

    .main .semestre .materia{
        width: 80%;
        height: 130px;
    }

    .numMateria p{
        font-size: 15px;
    }

    .hamburguesa div{
        width: 10px;
        height: 2px;
        background-color: black;
        margin: 1px;
        border-radius: 3px;
    }

    .estados label{
        font-size: 10px;
    }
    
    .estados .estadosRadio{
        transform: scale(.4);
    }

    #semestre1{
        background-color: rgba(8, 99, 177,.3);
    }

    #semestre2{
        background-color: rgba(22, 116, 114,.3);
    }

    #semestre3{
        background-color: rgba(43, 199, 199, .3);
    }

    #semestre4{
        background-color: rgba(61, 199, 156,.3);
    }

    #semestre5{
        background-color: rgba(167, 213, 40,.3);
    }

    #semestre6{
        background-color: rgba(73, 127, 25,.3);
    }

    #semestre7{
        background-color: rgba(68, 78, 20,.3);
    }

    #semestre8{
        background-color: rgba(196, 54, 59,.3);
    }

    #semestre9{
        background-color: rgba(232, 124, 40,.3);
    }

    .main .semestre .title{
        width: 90%;
    }


}

@media (max-width: 550px) {
    .main .semestre .title{
        width: 90%;
    }

    .main{
        display: grid;
        grid-template-columns: 50% 50%;
        row-gap: 20px;
        column-gap: 10px;
        justify-content: center;
        padding: 0;
        margin: auto;
        width: 100%;
        align-content: center;
    }
    
    .main .semestre{
        flex-direction: column;
        background-color: rgba(196, 109, 77,.3);
        border-radius: 10px;
    }

    .nombreMateriaEstado{
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
    }

    .menuEstados{
        margin: 0 5px;
        align-self: flex-start;
    }

    .nombre p{
        font-size: 12px;
        margin: 0px 0px;
    }

    .main .semestre .materia{
        width: 70%;
        height: 130px;
    }

    .numMateria p{
        font-size: 10px;
    }

    .nombre{
        width: 100%;
        margin: 0;
    }

    .hamburguesa div{
        width: 10px;
        height: 2px;
        background-color: black;
        margin: 1px;
        border-radius: 3px;
    }

    .estados label{
        font-size: 7px;
        margin-left: 2px;
        margin-top: 2px;
    }
    
    .estados .estadosRadio{
        transform: scale(.3);
    }

    #semestre1{
        background-color: rgba(8, 99, 177,.3);
    }

    #semestre2{
        background-color: rgba(22, 116, 114,.3);
    }

    #semestre3{
        background-color: rgba(43, 199, 199, .3);
    }

    #semestre4{
        background-color: rgba(61, 199, 156,.3);
    }

    #semestre5{
        background-color: rgba(167, 213, 40,.3);
    }

    #semestre6{
        background-color: rgba(73, 127, 25,.3);
    }

    #semestre7{
        background-color: rgba(68, 78, 20,.3);
    }

    #semestre8{
        background-color: rgba(196, 54, 59,.3);
    }

    #semestre9{
        background-color: rgba(232, 124, 40,.3);
    }
}