body{
    background-image: url('./assets/fondo-horario.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.titulo-horario{
    color: white;
    font-weight: bold;
}


.main{
    position: relative;
    width: 70%;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 2px 2px 5px black;
}

.title-edit{
    text-align: center;
    margin-bottom: -15px;
    margin-top: 0px;
    font-size: 20px;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(124, 175, 243);
}

.btn-guardar{
    display: none;
}
.btn-guardar.show{
    text-align: center;
    display: block;
    margin: 50px;
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 5px;
    transition: .2s ease .0s;
}

.container-btn-editar{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;/* flex-start; */
    /* background-color: brown; */
}

.btn-editar{
    text-align: center;
    margin: 0px;
    /* left: 10px; */
    /* z-index: 49;*/
    position:relative;
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 5px;
    transition: .2s ease .0s;
}

.btn-editar.hidden{
    display: none;
}
.btn-editar:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.btn-guardar:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.De{
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    box-sizing: border-box;
}

.hora{
    margin: 0px;
    display: flex;
    align-self: center;
    /* background-color: brown; */
    justify-content: stretch;/* space-around; */
    align-items: flex-start;
    box-sizing: border-box;
}
.hora.hidden{
    display: none;
}

.containerDe .text-de, .text-hasta{
    font-size: 17px;
    margin: 0px;
    margin-right: 5px;
}

.container-opciones{
    display: none;
}
.container-opciones.show{
    margin: 0px;
    max-width: 150px;
    padding: 20px;
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(192, 186, 175);
}

.horario{
    background-color: rgba(38, 38, 61, 0.3);
    border: 2px solid black;
    border-radius: 5px;
}

tr{
    border: 2px solid black;
}

th, td{
    border: 2px solid black;
    padding: 2px;
    font-size: 15px;
    text-align: center;
    color: white;
}

td.hidden{
    display: none;
}

.subir, .bajar{
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid black;
}

.bajar{
    transform: rotate(180deg);
}

.subir.click, .bajar.click{
    border-bottom: 5px solid white;
}

.minutos-init:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, .3);
    cursor: pointer;
}

.minutos-init{
    width: 12px;
    height: 8px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minutos-init.click{
    background-color: rgba(0, 0, 0, .6);
}

.horaInitMin, .horaFinMin{
    width:33px;
    height: 23px;
    padding: 2px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
}

.horaInitMin p.tope, .horaFinMin p.tope{
    background-color: rgb(0, 183, 255);
    color: white
}

.container-buttons{
    display: none;
    background-color: rgba(128, 128, 128, .2);
}

.container-buttons.focus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divPuntos{
    font-size: 20px;
    text-align: center;
    margin: 0px 2px;
}

.generar, .btn-agregar, .btn-back{
    border: none;
    background-color: cornflowerblue;
    padding: 2px;
    border-radius: 5px;
    transition: .1s ease .0s;
}

.generar:hover{
    cursor: pointer;
    transform: scale(1.05);
}



.materia{
    position: relative;
}

.materia > p {
    margin-bottom: 2px;
}

.semestres{
    display: flex;
    flex-direction: column;
}

/*****************************/
.list-sem{
    display: none;
}

.list-sem.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 211, 211);
    margin-top: 0px;
    border-radius: 5px;
    list-style: none;
    padding: 0px;
    box-sizing: border-box;
}
.list-sem li{
    border-top: 1px solid white;
    width: 100%;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
}
.list-sem li:hover{
    cursor: pointer;
    transform: scale(1.05);
}
/**********************************/

.materia .btn-materia{
    background-color: cornflowerblue;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    transition: .05s ease .0s;
}

.materia .btn-materia:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.btn-materia.click{
    color: aliceblue;
    box-shadow: 2px 2px 5px black;
}

.btn-materia.borders{
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;;
}

.menu-semestres{
    display: none;
}

.menu-semestres:hover{
    cursor: pointer;
}

.menu-semestres.show{
    display: block;
    width: 70%;
    position: absolute;
    border-radius: 5px;
    margin-top: -2px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;;
    background-color: cornflowerblue;/*rgb(2, 45, 94);*/
    padding: 20px;
    transition: .2s ease .0s;
}

.name-semestre span{
    display: flex;
    justify-content: center;
    border-radius: 3px;
    background-color: rgb(26, 218, 176);
    padding: 2px;
    margin-bottom: 0px;
    font-size: 15px;
}

.name-semestre span:hover{
    transform: scale(1.1);
}

.name-semestre{
    margin-top: 5px;
}

.container-horario{
    position: relative;
    height: 100%;
}

.popup{
    display: none;
}
.popup.show{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
}

.popup .img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup .img p{
    color: azure;
    text-align: center;
    font-size: 20px;
}

.new-materia{
    display: none;
}
.new-materia.show{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100px;
    border-radius: 5px;
    color: white;
    /*background-color: rgba(100, 149, 237, .3);*/
    box-shadow: 2px 2px 5px black;
    margin: auto;
}
.new-materia.show:hover{
    cursor: pointer;
}

.btn-agregar{
    display: none;
}
.btn-agregar.show{
    display: block;
}
.btn-agregar:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.guardarHorario{
    cursor: pointer;
    display: none;
}
.guardarHorario.show{
    display: block;
}

.btn-back:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.container-main{
    padding: 0px;
    z-index: 50;
    margin: auto 0px;
    position: absolute;
    left: 10px;
    top: 40px;
    /* background-color: brown; */
}

.cerrar-div-agregar{
    display: none;
}

.cerrar-div-agregar.show{
    display: block;
}
.cerrar-div-agregar div{
    width: 20px;
    height: 2px;
    /* margin: 2px; */
    position: relative;
    background-color: black;
}

.cerrar-div-agregar .line-1{
    top: 2px;
    transform: rotate(50deg);
}
.cerrar-div-agregar .line-2{
    transform: rotate(-50deg);
}

.text-editar.hidden{
    display: none;
}

.hora-init-celu, .hora-fin-celu{
    display: none;
}
.hora-init-celu.show, .hora-fin-celu.show{
    display: block;
}



@media (max-width : 800px) {
    body{
        background-image: url('./assets/horario-cel.jfif');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .container-main{
        position: absolute;
        z-index: 50;
        align-self: flex-start;
        margin: 0px;
        padding: 0px;
        /* background-color: brown; */
    }

    .btn-editar{
        margin: 0px;
    }

    .main{
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
