@media (max-width: 550px) {
    /*.botones{
        flex-direction: column;
    }*/

    body{
        background-image: url('../assets/celFondo3.jfif');
    }

    .placeholderUser{
        left: 20px;
    }

    .user:focus + .placeholderUser,
    .user:not(:placeholder-shown) + .placeholderUser{
        top: -10px;
        left: 20px;
        color: royalblue;
    }

    .popup-avatar img{
        width: 55px;
        height: 55px;
    }

    .passwordEye{
        width: 95%;
    }

    #usuario{
        width: 90%;
    }

    .ingresar{
        order: 2;
        width: 90%;
    }

    .registrarse{
        order: 3;
    }

    .registrar{
        order: 1;
        width: 90%;
    }

    .login{
        width: 70%;
        min-width: 300px;
    }

    .user::placeholder{
        background-position: 13rem center;
    }
    .password::placeholder{
        background-position: 13rem center;
    }

    .carreras{
        margin-left: 5px;
    }
    .carrera{
        margin-right: 0px;
    }

    .placeholderPassword{
        left: 7px;
    }
}